################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/Laboratorio 1/.vs/Laboratorio 1
/Laboratorio 1
/.vs
/Laboratorio2/.vs
/.gitignore
/Laboratorio4/.vs
/Laboratorio3/.vs
/Prueba/.vs/Prueba
/Laboratorio5/.vs/Laboratorio5
/Laboratorio6/.vs
