################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/Laboratorio 1/.vs/Laboratorio 1
/Laboratorio 1
/.vs
/Laboratorio2/.vs
/.gitignore
/Laboratorio4/.vs
/Laboratorio3/.vs
/Prueba/.vs/Prueba
/Laboratorio5/.vs/Laboratorio5
/Laboratorio6/.vs
/Laboratorio7/.vs/Laboratorio7
/Laboratorio8/.vs/Laboratorio8
/Laboratorio11/.vs/Laboratorio11
/Laboratorio12/.vs/Laboratorio12
/Laboratorio13/.vs/Laboratorio13
/Laboratorio14/.vs/Laboratorio14
/Laboratorio15/.vs/Laboratorio15
/Laboratorio15/.vs/ProjectEvaluation
/Laboratorio16/.vs/Laboratorio16
